body {
    background: black;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 50%; /*whatever width you want*/
    text-align: center;

}

a {
    color:#428bca;;
}

a:hover, a:active {
    color:#428bca;
}

.brand img {
    width: 200px;
    height: 243px;
}

.brand img:hover {
}

.brand p {
    text-align: center;
}

div.brand {
    vertical-align: middle;
    display: inline-block;
    padding: 10px;
    margin: 25px;
    border-radius: 20px;
    border: 3px solid rgba(0, 0, 0, 0);
}

div.brand:hover {
    border-color: rgba(255, 255, 255, 1);
}

div.clear {
    clear:both;;
}